@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Geologica:wght@200&family=Rubik:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Ubuntu&display=swap');
*{
  font-family: 'Geologica', sans-serif;
  
}
h1{
  display: inline-block;
  margin-left: 5rem;
  margin-top: 1rem;
  color: whitesmoke;
  
}
h1 span{
  color:lightgreen;
  font-style: italic;
}
.header{
  width: 100%;
  height: 80px;
  background-color:#585858;
}
.text{
  border: 2px solid black;
  width: 49%;
  padding: 5px;
  background-color: rgb(14 20 30);
  color: white;
  font-size: 18px;
  line-height: 2rem;
}
.working{
  width: 49%;
  padding: 5px;
  /* border: 2px solid red; */
  background-color: rgb(14 20 30);
  color: white;
}
.main{
  display: flex;
  justify-content: space-between;
  background-color:#585858;
}
.popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color:#585858;
      padding: 20px;
      border-radius: 5px;
    }
  
    .button {
      display: inline-block;
      padding: 7px 15px;
      background-color: #4CAF50;
      color: white;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .button.cancel {
      background-color: #f44336;
    }

    .button:hover {
      background-color: #45a049;
    }

    .button.cancel:hover {
      background-color: #e53935;
    }
    #monthlyBudget{
      border: white;
      border-radius: 5px;
      background-color: #585858;
      padding: 4px;
    }
    h3{
      border: white;
      border-radius: 5px;
      background-color: #585858;
      padding: 4px;
    }
    .input-bar{
        display: inline-block;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s ease;
      }
  
      .input-bar:focus {
        outline: none;
        border-color: #4CAF50;
      }
      
      #add-expense{
        margin-top: 5px;
        background-color:#a5a5a5;
        /* color: white; */
        font-family:'Geologica', sans-serif;
        font-weight: bold;
        padding: 5px;
      }

      #add-budget{
        background-color:#a5a5a5;
        /* color: white; */
        font-family:'Geologica', sans-serif;
        font-weight: bold;
        padding: 5px;
      }
      #expenseTable th{
        margin-left: 3px;
      }
  
